@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Layout */

body{
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas: 
    'header header'
    'sidebar container';
    height: 100vh;
}



h1{
    font-size: 0.9rem;
}


h4{
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #468591;
    margin-left: 20px;
}


i{
    font-size: 1.5rem;
    color: rgb(209, 202, 202);
}


a{
    text-decoration: none;
}


p, a{
    font-size: 0.9rem;

}


hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 12px 0;
}



/* HEADER STARTS */

.header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 25px;
    padding-right: 40px;
    height: 56px;
  }



/* Logo-img */

  
  .logo-img {
    position: relative;
    height: 25px;
    width: 30px;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  #logo-txt {
    letter-spacing: -1.5px;
    color: #12e4c1;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 6px;
  }



/* Search */



  .search-container {
    display: flex;
    align-items: center;
    flex: 0 1 685px;
  }

  
.search-container form {
    position: relative;
    width: 100%;
    display: flex;
  }
  
  .search-container input {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #d3c59f;
    padding: 12px;
    outline: none;
    font-size: 1rem;
    border-radius: 10px 0px 0px 10px;
  }
  
  .search {
    min-width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: hsl(249, 57%, 48%);
    outline: none;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
  }


  .mic {
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .mic:hover {
    background-color: rgb(211, 109, 50);
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  

  .profile-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }


  .menu, .cam, .notifications {
    padding: 8px;
  }
  
  .menu:hover, .cam:hover, .notifications:hover {
    background-color: rgb(211, 109, 50);
    border-radius: 50%;
    transition: 0.5s;

  }

/*
----------------------------
Sidebar start
----------------------------
*/

.sidebar {
  grid-area: sidebar;
  background-color: #212121;
  padding-top: 10px;
  overflow-y: scroll;
  width: 240px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  height: 40px;
  gap: 15px;
  border-radius: 10px;
  transition: 0.8s;
}


.sidebar-item:hover {
  background-color: #4c4c4c;
}





  

